#hero {
    background-color: #181E28;
}

#logo-frame {
    background-color: #DBE8E1;
}

body{
    background-color: #DBE8E1;
}

.rounded{
    border-radius: 5% !important;
}

.circle{
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: white;
}


#hero:hover{
    background-color: #1e2531;
}

.card:hover{
    background-color: rgb(231, 231, 231);
}

.circle:hover{
    animation: profile-bigger .15s ease-in-out forwards;
}

@keyframes profile-bigger{
    from{

    }

    to{
        width: 210px;
        height: 210px;
    }
}